Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Scrapy==0.22.2
Twisted==13.2.0
Werkzeug==0.9.4
cffi==0.8.2
cryptography==0.3
cssselect==0.9.1
gunicorn==18.0
itsdangerous==0.24
lxml==3.3.4
pyOpenSSL==0.14
pycparser==2.10
queuelib==1.1.1
six==1.6.1
w3lib==1.5
wsgiref==0.1.2
zope.interface==4.1.1
