{% extends "base.html" %}
{% block title %}Movie-crawlr{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <h1>Hello!</h1>
    <form role="form" name="search" action="/search" method="GET">
      <div class="form-group">
	<label for="searchMovieName">Movie/TV show title</label>
	<input type="text" class="form-control" name="movie_title" placeholder="eg. The Best Exotic Marigold Hotel">
	<span class="help-block">Enter the exact title of a movie or TV series to get it's metadata.</span>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>
{% endblock %}
