{% extends "base.html" %}
{% block title %}Movie-crawlr | Movie not found!{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <h1>Movie not found</h1>
    <img src="http://robertnormandomael.files.wordpress.com/2010/02/free_cute_dog_screensaver-146849.jpg"
	 class="img-responsive img-rounded" id="img-movie-not-found" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <form role="form" id="form-movie-not-found" name="search" action="/search" method="GET">
      <div class="form-group">
	<label for="searchMovieName">Try again?</label>
	<input type="text" class="form-control" name="movie_title" placeholder="eg. Up">
	<span class="help-block bg-info">Try an exact title of a movie or TV series to get it's metadata.</span>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>
{% endblock %}
